.btn-primary{

  &.original{
    margin-bottom: 10px;
  }
}
.original_ul {
  width: 300px;
  margin: 0 auto;
  padding: 0;
  li {
    list-style: none;
    margin-top: 8px;
  }
}
label {
  margin-right: 10px;
  width:80px;
}
.original_ul2 {
  padding: 0;
}
#original_btn {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
    .btn-link{
      border: solid 1px;
    }
}